<ul class="notes">
  {{#each notes as |note|}}
    <li class="note-title">
      {{#link-to "notes.show" note}}
        {{note.title}}
      {{/link-to}}
      {{#link-to "notes.edit" note class="btn btn-default btn-xs"}}
        編集
      {{/link-to}}
      <i class="glyphicon glyphicon-trash" {{action "destroyNote" note}}></i>
    </li>
  {{/each}}
</ul>
