<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        {{link-to 'Ember Note' 'application' class="navbar-brand"}}
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
          {{#link-to "notes.new" class="btn btn-default navbar-btn"}}
            <span class="glyphicon glyphicon-plus"></span>
            新規作成
          {{/link-to}}
      </div>
    </div>
  </nav>
</header>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      {{note-listing notes=model destroyNote="destroyNote"}}
    </div>
    <div class="col-xs-8">
      {{outlet}}
    </div>
  </div>
</div>
